$color-blue-light: rgb(35, 191, 240);
$color-blue-dark: rgb(22, 134, 169);
$color-pink-light: rgb(254, 87, 107);
$color-pink-dark: rgb(238, 56, 78);
$color-green-light: rgb(126, 211, 33);
$color-green-dark: rgb(102, 181, 15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 auto;
}

.page {
  min-height: 100vh;
  width: 100%;
  color: #fff;
}

.login-page {
  background-color: $color-blue-light;
  background-image: url('./img/mobileWebBackground01.png');
  background-size: cover;
  background-position: top;

  padding: 1rem 0;
  text-align: center;

  &__title-img {
    width: 90%;
    height: auto;
    margin-bottom: 3.75rem;
  }

  .login-input {
    input {
      width: 90%;
      padding: 1rem;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-weight: 800;
      border-radius: .75rem;
      color: $color-blue-dark;

      &:focus {
        outline: none;
      }
    }
  }

  .login-bottom {
    margin: 1rem 0 1.5rem 0;

    &__notice {
      font-size: 1.5rem;
      margin: 5px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    }

    &__btn {
      width: 90%;
      height: 4.375rem;
      background-color: #fff;
      background-image: url('./img/mobileWebGoBtn.png');
      background-position: center;
      background-size: cover;
      border: none;
      border-radius: 18px;
      box-shadow: 3px 3px 1px rgba(0, 0, 0, .5);

      &:disabled {
        box-shadow: none;
        background-image: url('./img/mobileWebGoBtnDisable.png');
      }
    }
  }
}

.waiting-page {
  background-color: $color-blue-light;
  background-image: url('./img/mobileWebBackground02.png');
  background-size: cover;

  text-align: center;
  padding-top: 10rem;
  position: relative;

  &__welcome-img {
    width: 90%;
    height: auto;
  }

  &__name {
    font-size: 2.2rem;
  }

  &__message {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 500;
  }
}

.countdown-page {
  background-color: $color-blue-light;
}

.user {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.game-page {
  background-color: $color-blue-light;

  &__info {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;

    .game-count {
      background-color: $color-blue-dark;
      font-size: 1.25rem;
      padding: 3px 1.2rem;
      border-radius: 1.2rem;
    }
  }

  .card-container {
    padding: 1rem 0;
    text-align: center;

    .game-card {
      width: 46%;
      margin: 1vw;
      height: 18rem;
      display: inline-block;
      border: 3px solid #fff;
      border-radius: 8px;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &--A {
        background-color: rgb(247, 3, 32);
      }

      &--B {
        background-color: rgb(0, 94, 215);
      }

      &--C {
        background-color: rgb(226, 158, 6);
      }

      &--D {
        background-color: rgb(0, 145, 13);
      }
    }
  }
}

.answer-page {
  text-align: center;
  padding-bottom: 1rem;
  
  &__content {
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 700;

    img {
      margin-bottom: 2rem;
    }

    .text-img {
      width: 100%;
    }
  }

  &__score-box {
    margin: 0 2rem;
    padding: 1.5rem;
    font-size: 1.875rem;
    font-weight: 500;
    border-radius: 1rem;

    &--incorrect {
      background-color: $color-pink-dark;
    }

    &--correct {
      background-color: $color-green-dark;
    }
  }

  &--incorrect {
    background-color: $color-pink-light;
  }

  &--correct {
    background-color: $color-green-light;
  }
}

.result-page {
  background-color: $color-blue-light;
  background-image: url('./img/mobileWebBackground03.png');
  background-size: cover;
  background-position: top;

  text-align: center;
  padding-bottom: 1rem;
  
  &__content {
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 700;

    img {
      margin-bottom: 2rem;
    }

    .text-img {
      max-width: 100%;
    }

    .final-score {
      font-size: 4rem;
    }

    .final-ranking {
      font-size: 2.5rem;
    }
  }
}